body {
	background-color: cadetblue;
	font-family: Arial, Helvetica, sans-serif;
}

/* Title Flex*/

.title {
	background-color: lightBlue;
	width: 80%;
	height: 50px;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: center;
	border-radius: 15px 15px 15px 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.item1 {
	
}

.break {
	width: 30%;
}

.t1 {
	padding: 3%;
	font-size: 24px;
	float: left;
	margin-top: 4.5%;
	margin-bottom: 1%;
}

.btn1 {
	float: right;
	padding: 1%;
}



.quizo {
	border-radius: 15px 15px 15px 15px;
	border: solid;
	margin: 1%;
}

.quizsection {
	display: flex;
	flex-direction: column;
}

.qtitle {
	text-align: center;
}

.wb {
	width: 0.5%;
}

.notes {
	background-color: lightblue;
	width: 80%;
	height: 50%;
	border: none;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.sntitle {
	width: 65%;
	border-color: black;
	padding: 3px 3px 3px 3px;
	margin: 5px 5px 5px 5px;
	border-radius: 15px 15px 15px 15px;
	border: 2px;
	border-style: solid;
}

.indent {
	text-indent: 2%;
}

.rin {
	text-indent: 4%;
	font-style: italic;
}

.snotes {

	width: 100%;

}

.quizs {
	width: 33%;
	border-color: black;
	padding: 3px 3px 3px 3px;
	margin: 5px 5px 5px 5px;
	border-radius: 15px 15px 15px 15px;
	border: 2px;
	border-style: solid;
}

.ctitle {
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	text-align: center;
}

.pv {
	background-color: lightblue;

	border-radius: 15px 15px 15px 15px;
	width: 80%;
	margin: auto;
	
}

.pdfviewer {
	width: 95%;
	padding: 2% 2% 2% 2% ;
	margin: auto;
	border: none;
}

.acb3 {
	background-color: lightblue;
	border-radius: 15px 15px 15px 15px;
	border: none;
	font-size: 24px;
	text-align: center;
	width: 80%;
	height: 100%;
}



.acb2 {
	background-color: lightblue;
	border-radius: 15px 15px 15px 15px;
	border: none;
	font-size: 24px;
	text-align: center;
	width: 80%;
	height: 100%;
}

.height2 {
	height: 60px;
	text-align: center;
}
